nav.indexNav {
  background: none;
  box-shadow: none;
  .side-nav {
    text-align: left;
  }

}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  width: 90px;
}

.title {
  padding-left: 100px;
}
