{{ define "index" }} {{ template "_header" . }}

<main>
  <div class="parallax-container">
    <nav class="indexNav">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="produceDropdown" class="dropdown-content">
        <li><a class="light-green-text" href="/find-our-produce">Find Our Produce</a></li>
        <li><a class="light-green-text" href="/csa">CSA Farm Shares</a></li>
      </ul>
      <ul id="joinDropdown" class="dropdown-content">
        <li><a class="light-green-text" href="/become-a-micro-farm">Become A Micro Farm</a></li>
        <li><a class="light-green-text" href="/careers">Careers</a></li>
      </ul>
      <ul id="sideProduceDropdown" class="dropdown-content">
        <li><a class="light-green-text" href="/find-our-produce">Find Our Produce</a></li>
        <li><a class="light-green-text" href="/csa">CSA Farm Shares</a></li>
      </ul>
      <ul id="sideJoinDropdown" class="dropdown-content">
        <li><a class="light-green-text" href="/become-a-micro-farm">Become A Micro Farm</a></li>
        <li><a class="light-green-text" href="/careers">Careers</a></li>
      </ul>
      <ul class="left menu">
        <li><a href="/">Micro Farms Colorado</a></li>
      </ul>
      <ul class="right hide-on-med-and-down menu">
        <li><a href="/about">About</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="produceDropdown">Produce<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="joinDropdown">Join<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/micro-farms-news">Events &amp; News</a></li>
        <li><a href="/contact">Contact</a></li>
        <!-- Oauth to be implemented at some point -->
        <!-- <li><a class="login" href="/google"><i class="fa fa-6 fa-google-plus-official" aria-hidden="true"></i> Login</a></li>
        <li><a class="logout" href="#">Logout</a></li> -->
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/about">About</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="sideProduceDropdown">Produce<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="sideJoinDropdown">Join<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/micro-farms-news">Events &amp; News</a></li>
        <li><a href="/contact">Contact</a></li>
        <!-- Oauth to be implemented at some point -->
        <!-- <li><a class="login" href="/google"><i class="fa fa-6 fa-google-plus-official" aria-hidden="true"></i> Login</a></li>
        <li><a class="logout" href="#">Logout</a></li> -->
      </ul>
    </nav>
    <content>
      <img class="main-logo" src="/public/img/logo.gif" alt="logo" />
      <h1>Micro Farms Colorado</h1>
      No Herbicides.
      No Pesticides.
      No Chemical Fertilizers
      <br>
    </content>
    <div class="parallax"><img src="http://mikesjj.com/vegetables.jpg"></div>
  </div>
  <section class="info">
    <content>
      <span>
        Micro Farms is turning people’s yards into hyper-local, organically grown food!
      </span>
      <button class="waves-effect find-our-produce waves-brown light-green btn" name="button">Find Our Produce</button>
    </content>
    <hr>
    <article class="two-column hr">
      <section>
        <h4>Who are we?</h4>
        <p>
          Micro Farms is an urban farming social-enterprise transforming underutilized homeowner resources into local and healthy food producing systems.
        </p>
      </section>
      <img class="materialboxed" width="650" src="https://scontent-iad3-1.cdninstagram.com/t51.2885-15/e35/12935068_273926936272603_1816277072_n.jpg?ig_cache_key=MTIyMzU2MjI0OTIyNDY1NzQ1Ng%3D%3D.2" alt="house farm" />
    </article>
    <article class="two-column hr">
      <img class="materialboxed" width="650" src="/public/img/news.png" alt="news" />
      <section>
        <h4>News Spotlight</h4>
        <p>
          Micro Farms has been featured on <a href="http://kdvr.com/2015/09/01/man-turns-peoples-yards-into-micro-urban-farms-everyone-benefits/">Denver Fox 31 News</a> &amp; <a href="http://www.thedenverchannel.com/news/local-news/lakewood-startup-wants-to-farm-your-yard-for-free">Denver ABC 7 News</a>
        </p>
      </section>
    </article>
    <article class="two-column">
      <section>
        <h4>Become a Yard Partener</h4>
        <p>
          Micro Farms has a network of homeowners, our “Yard Partner.” Yard Partners have donated their land and pay for the water.  We then install, maintain and harvest chemical-free, biodynamic gardens, where once there were lawns.
        </p>
      </section>
      <img class="materialboxed" width="650" src="/public/img/house.jpg" alt="news" />
    </article>
    <div class="parallax-container banner">
      <section class="quote">
        “Micro Farms has created an exciting sustainable business model that has taken local and organic food to a whole new level.”
      </section>
      <section class="signature">
        -Anna Perks, Business Sustainability Advisor, Boulder County
      </section>
      <div class="parallax"><img src="/public/img/darkProduce.jpg"></div>
    </div>
    <article class="two-column">
      <h4>Learn more...</h4>
    </article>
    <article class="two-column">
      <p>
        Micro Farms’ Yard Partners do not have to worry about watering or weeding the garden (we take care of all that). You can rest easy because there is no lawn to mow throughout the year.  In return for the land and water donation, we deliver a weekly basket of in-season produce grown and aggregated from all of our Micro Farms (estimated value: $850).
      </p>
      <p>
        Micro Farms then sells the remaining healthy food at local, sustainably-minded restaurants, Food Co-ops, Community Supported Agriculture (CSA) Shares, Farmer’s Markets & Direct Sales.  Sign up for our Newsletter to stay up to date with our Farmer’s Markets, CSA Program and get healthy food recipes and advice.
      </p>
    </article>
  </section>
</main>

{{ template "_footer" . }} {{ end }}
